### Imports

In [1]:
import os
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt 
import seaborn as sns

%matplotlib inline

In [2]:
PATH = 'C:\\Users\\Samarth\\Desktop\\Tech\\Data Science\\SIP Sanjaynagar'
os.chdir(PATH)
DATA_PATH = os.path.join(PATH, 'data')

### Business Understanding

The data we'll be looking at is from a franchise of SIP Abacus. SIP Abacus is one of the biggest Abacus training companies in the country. They have 760 centres across 23 States in India, and have trained 6,25,000 children since 1999.

The aim of this exercise is to get a general understanding of the health of one specific centre. We'll try to tease apart some of the issues, and also think about how we might go about solving them.

In [3]:
# Analyse student history data

df = pd.read_excel(os.path.join(DATA_PATH, 'students_record.xlsx'))
df.columns = ['_'.join(col.lower().split()) for col in df.columns]

In [4]:
df.head()

,s.no,student_name,student_code,status,active,dob,course_name,enquiry_dt,admission_dt,promo_code,...,mother_name,mother_mobile_no,mother_landline_no,mother_email_id,mother_occupation,mother_organisation,school_name,school_area,transfer/new_admission,remarks
0,1.0,A G SAMIK SINGH,AMN131019020,DISCONTINUE,Y,29-06-2013,AMAL NEW,20-08-2019,20-08-2019,NaN,...,NaN,,NaN,NaN,NaN,NaN,DAFFODILES,NaN,NaN,NEW ADMISSION
1,2.0,A R SHRADHA,SJ131021030,ADMISSION,Y,03-11-2014,SIP ABACUS JUNIOR,29-11-2021,29-11-2021,NaN,...,NaN,,NaN,NaN,NaN,NaN,SHIKSHA SAGAR,NaN,NaN,NEW ADMISSION
2,3.0,A V HRUSHIKESH,SA131019006,DISCONTINUE,Y,03-03-2009,SIP ABACUS,12-03-2019,12-03-2019,NaN,...,NaN,,NaN,NaN,NaN,NaN,AIR FORCE SCHOOL,NaN,NaN,NEW ADMISSION
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NEW ADMISSION,NaN,NaN,NaN
4,4.0,AADARSH C,AMN131019012,DISCONTINUE,Y,21-10-2013,AMAL NEW,01-08-2019,01-08-2019,NaN,...,NaN,,NaN,NaN,NaN,NaN,SHISKA SAGAR,NaN,NaN,NEW ADMISSION

In [5]:
useful_cols = ['student_name', 'student_code', 'dob', 'course_name', 
               'enquiry_dt', 'admission_dt', 'batch_name', 'course_instructor',
               'level_name', 'course_status', 'course_start_date', 'course_end_date',
               'course_complete_date', 'assessment_dt', 'discontinue_dt', 
               'source_of_enquiry', 'school_name']

In [6]:
df = df[useful_cols]

In [7]:
df.head()

,student_name,student_code,dob,course_name,enquiry_dt,admission_dt,batch_name,course_instructor,level_name,course_status,course_start_date,course_end_date,course_complete_date,assessment_dt,discontinue_dt,source_of_enquiry,school_name
0,A G SAMIK SINGH,AMN131019020,29-06-2013,AMAL NEW,20-08-2019,20-08-2019,SHOBHA SAT 4PM TO 6.15PM,SHOBHA U M,AMAL A NEW,DISCONTINUE,20-08-2019,10-12-2019,NaN,NaN,31-10-2019,WEBSITE,DAFFODILES
1,A R SHRADHA,SJ131021030,03-11-2014,SIP ABACUS JUNIOR,29-11-2021,29-11-2021,AMRUTA JR DEC 21,AMRUTHA S,SIP ABACUS JUNIOR A,ACTIVE,04-12-2021,26-03-2022,NaN,NaN,NaN,WEBSITE,SHIKSHA SAGAR
2,A V HRUSHIKESH,SA131019006,03-03-2009,SIP ABACUS,12-03-2019,12-03-2019,GAURI THUR 5 PM TO 7.15 PM,GAURI,FOUNDATION 1,ACTIVE,12-03-2019,02-07-2019,31-05-2019,01-04-2019,31-08-2019,SIGN BOARD,AIR FORCE SCHOOL
3,NaN,NaN,NaN,NaN,NaN,NaN,GAURI THUR 5 PM TO 7.15 PM,GAURI,FOUNDATION 2,DISCONTINUE,31-05-2019,30-08-2019,NaN,NaN,31-08-2019,NaN,NEW ADMISSION
4,AADARSH C,AMN131019012,21-10-2013,AMAL NEW,01-08-2019,01-08-2019,SHOBHA SAT 4PM TO 6.15PM,SHOBHA U M,AMAL A NEW,DISCONTINUE,01-08-2019,21-11-2019,NaN,NaN,31-12-2019,SCHOOL ACTIVITY,SHISKA SAGAR

In [8]:
# Clean up student name column

df['student_name'] = df['student_name'].fillna(method='ffill')

In [9]:
df.head()

,student_name,student_code,dob,course_name,enquiry_dt,admission_dt,batch_name,course_instructor,level_name,course_status,course_start_date,course_end_date,course_complete_date,assessment_dt,discontinue_dt,source_of_enquiry,school_name
0,A G SAMIK SINGH,AMN131019020,29-06-2013,AMAL NEW,20-08-2019,20-08-2019,SHOBHA SAT 4PM TO 6.15PM,SHOBHA U M,AMAL A NEW,DISCONTINUE,20-08-2019,10-12-2019,NaN,NaN,31-10-2019,WEBSITE,DAFFODILES
1,A R SHRADHA,SJ131021030,03-11-2014,SIP ABACUS JUNIOR,29-11-2021,29-11-2021,AMRUTA JR DEC 21,AMRUTHA S,SIP ABACUS JUNIOR A,ACTIVE,04-12-2021,26-03-2022,NaN,NaN,NaN,WEBSITE,SHIKSHA SAGAR
2,A V HRUSHIKESH,SA131019006,03-03-2009,SIP ABACUS,12-03-2019,12-03-2019,GAURI THUR 5 PM TO 7.15 PM,GAURI,FOUNDATION 1,ACTIVE,12-03-2019,02-07-2019,31-05-2019,01-04-2019,31-08-2019,SIGN BOARD,AIR FORCE SCHOOL
3,A V HRUSHIKESH,NaN,NaN,NaN,NaN,NaN,GAURI THUR 5 PM TO 7.15 PM,GAURI,FOUNDATION 2,DISCONTINUE,31-05-2019,30-08-2019,NaN,NaN,31-08-2019,NaN,NEW ADMISSION
4,AADARSH C,AMN131019012,21-10-2013,AMAL NEW,01-08-2019,01-08-2019,SHOBHA SAT 4PM TO 6.15PM,SHOBHA U M,AMAL A NEW,DISCONTINUE,01-08-2019,21-11-2019,NaN,NaN,31-12-2019,SCHOOL ACTIVITY,SHISKA SAGAR

In [35]:
# Create Students DB

students_db = df[['student_name', 'student_code', 'dob', 'admission_dt', 'course_instructor', 'school_name']]
students_db = students_db.groupby('student_name').first().reset_index()
students_db['final_level'] = df.groupby('student_name')['level_name'].last().values
students_db['status'] = df.groupby('student_name')['course_status'].last().values
students_db['admission_dt'] = pd.to_datetime(students_db['admission_dt'])

In [36]:
students_db['status'].value_counts()

DISCONTINUE    177
PROMOTED       167
ACTIVE          62
COMPLETE         6
COMPLETED        4
ENQUIRY          2
Name: status, dtype: int64

In [37]:
discontinued = students_db[students_db['status'] == 'DISCONTINUE']

In [38]:
discontinued['final_level'].value_counts(normalize=True)

FOUNDATION 3           0.225989
FOUNDATION 1           0.203390
FOUNDATION 2           0.197740
FOUNDATION 4           0.118644
SIP ABACUS JUNIOR A    0.062147
AMAL A NEW             0.056497
SIP ABACUS JUNIOR B    0.039548
ADVANCE 2              0.022599
AMAL B NEW             0.022599
SIP ABACUS JUNIOR C    0.016949
ADVANCE 3              0.016949
ADVANCE 1              0.011299
GM A                   0.005650
Name: final_level, dtype: float64

In [39]:
active = students_db[(students_db['status'] == 'PROMOTED') | (students_db['status'] == 'ACTIVE')]

In [40]:
active['final_level'].value_counts(normalize=True)

FOUNDATION 2           0.209607
FOUNDATION 3           0.205240
FOUNDATION 1           0.148472
SIP ABACUS JUNIOR A    0.117904
FOUNDATION 4           0.109170
SIP ABACUS JUNIOR B    0.087336
ADVANCE 2              0.048035
SIP ABACUS JUNIOR C    0.034934
AMAL A NEW             0.017467
ADVANCE 3              0.013100
GM A                   0.004367
AMAL B NEW             0.004367
Name: final_level, dtype: float64

In [41]:
complete = students_db[(students_db['status'] == 'COMPLETE') | (students_db['status'] == 'COMPLETED')]

In [42]:
students_db['admission_month'] = students_db['admission_dt'].dt.month
students_db['admission_year'] = students_db['admission_dt'].dt.year

In [43]:
students_db

,student_name,student_code,dob,admission_dt,course_instructor,school_name,final_level,status,admission_month,admission_year
0,A G SAMIK SINGH,AMN131019020,29-06-2013,2019-08-20,SHOBHA U M,DAFFODILES,AMAL A NEW,DISCONTINUE,8.0,2019.0
1,A R SHRADHA,SJ131021030,03-11-2014,2021-11-29,AMRUTHA S,SHIKSHA SAGAR,SIP ABACUS JUNIOR A,ACTIVE,11.0,2021.0
2,A V HRUSHIKESH,SA131019006,03-03-2009,2019-12-03,GAURI,AIR FORCE SCHOOL,FOUNDATION 2,DISCONTINUE,12.0,2019.0
3,AADARSH C,AMN131019012,21-10-2013,2019-01-08,SHOBHA U M,SHISKA SAGAR,AMAL A NEW,DISCONTINUE,1.0,2019.0
4,AADHYA RAJESH,SA131020052,06-10-2012,2020-11-30,DIVYA E,Dps,FOUNDATION 1,DISCONTINUE,11.0,2020.0
...,...,...,...,...,...,...,...,...,...,...
413,YESHIKA A GOWDA,SA131021036,26-03-2011,2021-02-08,AMRUTHA S,KENSRI SCHOOL AND COLLEGE,FOUNDATION 2,PROMOTED,2.0,2021.0
414,YUKTHA,SAI131020004,08-03-2012,2020-07-07,SULTANNA BEGUM RAFIQ AHMED,INTERNATIONAL,FOUNDATION 2,DISCONTINUE,7.0,2020.0
415,YUVAN K,AMN131019017,22-06-2013,2019-10-08,SHOBHA U M,DAFFODILES,AMAL B NEW,COMPLETE,10.0,2019.0
416,ZOYA HAQUE,SA131018011,14-06-2010,2018-05-29,GAURI,None,FOUNDATION 1,DISCONTINUE,5.0,2018.0
417,pruthviraj B,SA131019042,20-06-2010,2019-08-16,Prashanthi,DAFFODILES,FOUNDATION 2,DISCONTINUE,8.0,2019.0

Few questions we might be interested in answering:
1. Which level do students mostly drop-off in?
2. What are the months where most drop-offs occur?
3. What are the months where most admissions happen?
4. Teacher x Level x Drop-Out rate?
5. Top Schools
6. Top Sources of enquiry/admission
7. Distribution of (drop-off date - course start date)